@import "tailwindcss";

@theme {
  --color-brand: #913075;
  --color-brand2: #47004A;
  --color-brand-deep: #6B124B;
  --color-brand-dark: #682078;
  --color-accent: #780E55;
}

@layer base {
  body {
    font-family: "Google Sans Flex", sans-serif;
    margin: 0;
    min-height: 100vh;
    background:
      radial-gradient(circle at 80% 30%, #913075 0%, transparent 60%),
      radial-gradient(circle at 100% 60%, rgba(145, 48, 117, 0.18) 10%, transparent 40%),
      linear-gradient(50deg, #1a0f1f 0%, #2d1b3d 55%, #160c1b 100%);
    
  }
  @media (min-width: 768px) {
    body {
      background: 
        radial-gradient(circle at 15% 85%, #913075 0%, transparent 50%), 
        radial-gradient(circle at 85% 15%, rgba(139, 37, 99, 0.8) 0%, transparent 50%), 
        radial-gradient(circle at 45% 60%, rgba(128, 0, 128, 0.6) 0%, transparent 50%), 
        radial-gradient(circle at 10% 10%, rgba(4, 17, 4, 0.4) 0%, transparent 10%), 
        linear-gradient(100deg, #0a0a0a 0%, #2d1b3d 100%, #000000 100%);        
    }

  }
}


.footer-link {
  @apply text-gray-300 text-sm relative py-2 transition-all duration-300;
}

.footer-link:hover {
  color: #e0a3ff;
  text-shadow: 0 0 10px rgba(224, 163, 255, 0.5);
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: linear-gradient(90deg, #e0a3ff, #ff69b4);
  transition: width 0.3s ease;
}

.footer-link:hover::after {
  width: 100%;
}